// type
$defaultFont = 'Work-Sans'

// colors
$accentColor = rgb(28,28,225)
$textColor = rgb(20,20,20)
$subduedColor = rgb(180,180,180)
$borderColor = $accentColor
$codeBgColor = #282c34
$arrowBgColor = #ccc

// font sizes
$fsXSmall = 12px
$fsSmall = 15px
$fsRegular = 18px
$fsLarge = 24px

$lhRegular = 1.2em
$lhMedium = 1.5em
$lhLarge = 1.8em

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 768px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
