// type
$defaultFont = 'Work-Sans'

// colors
$bgDark = rgb(29,29,29)
$accentColor = rgb(28,28,225)
$accentColorDark = rgb(42,97,255)
$textColor = rgb(20,20,20)
$textColorDark = rgb(180,180,180)
$subduedColor = rgb(180,180,180)
$borderColor = $accentColor
$codeBgColor = #282c34
$arrowBgColor = #ccc

// font sizes
$fsXSmall = 12px
$fsSmall = 15px
$fsRegular = 18px
$fsLarge = 24px

$lhRegular = 1.2em
$lhMedium = 1.5em
$lhLarge = 1.8em

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 15.5rem
$contentWidth = 768px

// breakpoints
$breakL = 1280px
$breakM = 999px
$breakS = 768px
$breakXS = 499px
$breakXXS = 356px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
