@font-face
  font-family 'Work-Sans'
  src url('../type/WorkSans-Regular.woff2') format('woff2'), url('../type/WorkSans-Regular.woff') format('woff'), url('../type/WorkSans-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Work-Sans'
  src: url('../type/WorkSans-Medium.woff2') format('woff2'), url('../type/WorkSans-Medium.woff') format('woff'), url('../type/WorkSans-Medium.ttf') format('truetype')
  font-weight 600
  font-style normal
