// type
$defaultFont = 'Work-Sans'

// colors
$black = rgb(0,0,0)
$bgDark = rgb(34,34,34)
$accentColor = rgb(28,28,225)
$accentColorDark = rgb(42,97,255)
$textColor = rgb(20,20,20)
$textColorDark = rgb(180,180,180)
$subduedColor = rgb(180,180,180)
$borderColor = $accentColor
$lightBorderColor = #ececec
$lightBorderColorDark = #404040
$codeBgColor = #282c34
$arrowBgColor = #ccc
$white = #fff
$boxShadowColor = rgba(0,0,0,0.12)
$boxShadowHoverColor = rgba(0,0,0,0.24)

// typical browser default font size is 16px
// font sizes
$fsXSmall = 0.75rem // 12px
$fsSmall = 0.875rem // 14px
$fsMedium = 1rem // 16px
$fsRegular = 1.125rem // 18px
$fsLarge = 1.5rem // 20px
$fsXLarge = 2rem // 24px

$lhRegular = 1.2em
$lhMedium = 1.5em
$lhLarge = 1.8em

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 15.5rem
$contentWidth = 768px

// breakpoints
$breakL = 1280px
$breakM = 999px
$breakS = 768px
$breakXS = 499px
$breakXXS = 356px

// sizes
$contentWidthXL = 1440px;

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
