// colors
// 500 values first
$colorWhite = #fff
$colorBlack = rgb(0,0,0)
$colorPrimary = rgb(28,28,225)
$colorPrimaryDark = rgb(255, 115, 36)
$colorSuccess = rgb(16,158,98)
$colorFail = rgb(184,0,0)

// use this with the header video
$legacyBgDark = rgb(34,34,34)

///////////////////////////////////////
// VAR GENERATOR                     //
// ----------------------------------//



// white mixes (for light grays)
$colorWhite900 = mix($colorBlack, $colorWhite, 30%)
$colorWhite800 = mix($colorBlack, $colorWhite, 20%)
$colorWhite700 = mix($colorBlack, $colorWhite, 10%)
$colorWhite600 = mix($colorBlack, $colorWhite, 5%)
$colorWhite500 = $colorWhite

// black mixes (for dark grays)
$colorBlack500 = $colorBlack
$colorBlack400 = mix($colorWhite, $colorBlack, 10%)
$colorBlack300 = mix($colorWhite, $colorBlack, 20%)
$colorBlack200 = mix($colorWhite, $colorBlack, 30%)
$colorBlack100 = mix($colorWhite, $colorBlack, 40%)
$colorBlack50 = mix($colorWhite, $colorBlack, 50%)

// primary mixes
$colorPrimary900 = mix($colorBlack, $colorPrimary, 80%)
$colorPrimary800 = mix($colorBlack, $colorPrimary, 60%)
$colorPrimary700 = mix($colorBlack, $colorPrimary, 40%)
$colorPrimary600 = mix($colorBlack, $colorPrimary, 20%)
$colorPrimary500 = $colorPrimary
$colorPrimary400 = mix($colorWhite, $colorPrimary, 20%)
$colorPrimary300 = mix($colorWhite, $colorPrimary, 40%)
$colorPrimary200 = mix($colorWhite, $colorPrimary, 60%)
$colorPrimary100 = mix($colorWhite, $colorPrimary, 80%)

// primary mixes (dark)
$colorPrimaryDark900 = mix($colorBlack, $colorPrimaryDark, 80%)
$colorPrimaryDark800 = mix($colorBlack, $colorPrimaryDark, 60%)
$colorPrimaryDark700 = mix($colorBlack, $colorPrimaryDark, 40%)
$colorPrimaryDark600 = mix($colorBlack, $colorPrimaryDark, 20%)
$colorPrimaryDark500 = $colorPrimaryDark
$colorPrimaryDark400 = mix($colorWhite, $colorPrimaryDark, 20%)
$colorPrimaryDark300 = mix($colorWhite, $colorPrimaryDark, 40%)
$colorPrimaryDark200 = mix($colorWhite, $colorPrimaryDark, 60%)
$colorPrimaryDark100 = mix($colorWhite, $colorPrimaryDark, 80%)

// Success
$colorSuccess900 = mix($colorBlack, $colorSuccess, 80%)
$colorSuccess800 = mix($colorBlack, $colorSuccess, 60%)
$colorSuccess700 = mix($colorBlack, $colorSuccess, 40%)
$colorSuccess600 = mix($colorBlack, $colorSuccess, 20%)
$colorSuccess500 = $colorSuccess
$colorSuccess400 = mix($colorWhite, $colorSuccess, 20%)
$colorSuccess300 = mix($colorWhite, $colorSuccess, 40%)
$colorSuccess200 = mix($colorWhite, $colorSuccess, 60%)
$colorSuccess100 = mix($colorWhite, $colorSuccess, 80%)

// Fail
$colorFail900 = mix($colorBlack, $colorFail, 80%)
$colorFail800 = mix($colorBlack, $colorFail, 60%)
$colorFail700 = mix($colorBlack, $colorFail, 40%)
$colorFail600 = mix($colorBlack, $colorFail, 20%)
$colorFail500 = $colorFail
$colorFail400 = mix($colorWhite, $colorFail, 20%)
$colorFail300 = mix($colorWhite, $colorFail, 40%)
$colorFail200 = mix($colorWhite, $colorFail, 60%)
$colorFail100 = mix($colorWhite, $colorFail, 80%)


// LEGACY COLORS
$colorBgDark = $legacyBgDark
$textColor = $colorBlack300
$textColorDark = $colorWhite600
$subduedColor = $colorWhite900
$borderColor = $colorPrimary
$lightBorderColor = #ececec
$lightBorderColorDark = #404040
$codeBgColor = #282c34
$arrowBgColor = #ccc
$boxShadowColor = rgba(0,0,0,0.12)
$boxShadowHoverColor = rgba(0,0,0,0.24)

// typical browser default font size is 16px
// font sizes
$fsXSmall = 0.75rem // 12px
$fsSmall = 0.875rem // 14px
$fsMedium = 1rem // 16px
$fsRegular = 1.125rem // 18px
$fsLarge = 1.5rem // 20px
$fsXLarge = 2rem // 24px

$lhRegular = 1.2em
$lhMedium = 1.5em
$lhLarge = 1.8em


$fontSizel3 = 1.5rem
$fontSizel4 = 1.25rem

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 18.5rem
$contentWidth = 768px

// breakpoints
$breakXS = 320px
$breakS  = 414px
$breakM  = 768px
$breakL  = 1024px
$breakXL = 1440px // Used as the max-width

// Heights
$mobileBottomDrawerHeight = 108px

// sizes
$contentWidthXL = 1440px;

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py


// FUNCTIONS

// This generates a calc() value which leverages viewport widths so that items
// will scale linearly between two values
cssGrad(smallestViewportWidth, smallestSize, largestViewportWidth, largestSize)
  p1x = smallestViewportWidth
  p1y = smallestSize
  p2x = largestViewportWidth
  p2y = largestSize
  m = unit(round(abs((p2y - p1y) / (p2x - p1x)), 2), vw)
  b = unit(round(p1y - (m * p1x), 2), px)
  return unquote('calc(' + m*100 + ' + ' + b + ')')