/* Dark Mode */
.show-dark
  display none !important

.dark-mode
  background $colorBgDark
  color $textColorDark
  .text-color, a.text-color
    color $textColorDark !important
  .show-dark
    display block !important
    &.inline-block
      display inline-block !important
  .hide-dark
    display none !important
  a, .accent
    color $colorPrimaryDark500
    &.black
      color $textColorDark
  header
    background $colorBgDark
  .sidebar
    background $colorBgDark
    border-color $colorPrimaryDark500
    ul
      list-style-image none

  .router-link-active
    svg
      fill $colorPrimaryDark500
  a.header-anchor
    color $textColorDark

  // borders & shadows
  .border-box-shadow
    border 1px dotted $lightBorderColorDark

  .border-box-shadow-hover
    border 1px dotted $lightBorderColorDark