/* Dark Mode */
.show-dark
  display none !important

.dark-mode
  background $bgDark
  color $textColorDark
  .text-color, a.text-color
    color $textColorDark !important
  .show-dark
    display block !important
    &.inline-block
      display inline-block !important
  .hide-dark
    display none !important
  a, .accent
    color $accentColorDark
    &.black
      color $textColorDark
  h2
    border-bottom 1px solid $textColorDark
  header
    background $bgDark
  div.intro-blocks
    a
      ul
        li
          color $textColorDark
          &.highlight
            background-image url(../images/highlight-dark.svg)
  ul
    list-style-image url(../images/dash-white.svg)
    li.highlight
      background-image url(../images/highlight-dark.svg)
  .suggestions
    border-color $textColorDark
    background-color $bgDark
    .suggestion
      a
        color $textColorDark
      &.focused
        background-color lighten($bgDark, 5%)
        a
          color $accentColorDark
  .sidebar
    background $bgDark
    border-color $accentColorDark
    ul
      list-style-image none

  .router-link-active
    svg
      fill $accentColorDark
  .featured
    border-color $accentColorDark
  a.header-anchor
    color $textColorDark

  footer.footer
    color $subduedColor
    opacity 0.5

    &:hover
      opacity 1
      color $textColorDark

  footer.footer a
    color $subduedColor
    &:hover
      color $accentColorDark
      opacity 1

  // borders & shadows
  .border-box-shadow
    border 1px dotted $lightBorderColorDark

  .border-box-shadow-hover
    border 1px dotted $lightBorderColorDark