@font-face
  font-family 'IBM-Plex-Sans-Condensed'
  src: url('../type/IBMPlexSansCondensed-Bold.ttf') format('truetype')
  font-weight 600
  font-style normal

@font-face
  font-family 'IBM-Plex-Sans'
  src: url('../type/IBMPlexSans-Light.ttf') format('truetype')
  font-weight 200
  font-style normal

@font-face
  font-family 'IBM-Plex-Sans'
  src: url('../type/IBMPlexSans-Medium.ttf') format('truetype')
  font-weight 400
  font-style normal

@font-face
  font-family 'IBM-Plex-Sans'
  src: url('../type/IBMPlexSans-Bold.ttf') format('truetype')
  font-weight 600
  font-style normal
