/* Responsive Adjustments */
#wrapper
  &:not(.has-sidebar):not(.sidebar-open)
    .sidebar
      display none

@media screen and (min-width $breakL)
  .lg-up-hide
    display none !important

@media screen and (min-width $breakM)
  .md-up-hide
    display none !important

@media screen and (max-width $breakL)
  #wrapper
    &:not(.has-sidebar):not(.sidebar-open)
      .sidebar
        display none

    &.has-sidebar
      main.page
        max-width "calc(100vw - %s - 15em)" % $sidebarWidth

  footer.footer
    padding-left 2.75em

@media screen and (max-width $breakM)
  .md-hide
    display none !important

  .page
    padding-top 6em

  #wrapper.dark-mode.sidebar-open
    header
      border-bottom 1px dotted $accentColorDark

  #wrapper:not(.has-sidebar)
    main.page, footer.footer
      margin-left auto
      margin-right auto
      max-width 85vw

    footer.footer
      padding-left 0
      padding-right 0

  #wrapper.has-sidebar
    main.page
      margin-left 2.75em
      max-width "calc(100vw - %s - 8em)" % $sidebarWidth

  footer.footer
    padding-bottom 8em

    ul
      li
        padding 0
        display block

  .search-box
    margin-right 0.5em

@media screen and (max-width $breakS)
  .sm-hide
    display none !important

  #wrapper.has-sidebar
    main.page, footer.footer
      margin-left auto
      margin-right auto
      max-width 85vw

  .iframe-container
    iframe
      filter grayscale(0)
      opacity 1

  div.intro-blocks
    a
      width calc(100vw - 4em)
      padding 0 1.4em

@media screen and (max-width $breakXs)
  .xs-hide
    display none !important

  button.announcement
    left 2em
    right 2em
    width calc(100vw - 4em)

  div.intro-blocks
    background red

@media screen and (max-width $breakXXS)
  body
    font-size 16px

  .content-block
    padding 0 1em

  button.announcement
    right 1em !important
    left 1em !important
