/* Responsive Adjustments */
#wrapper
  &:not(.has-sidebar):not(.sidebar-open)
    .sidebar
      display none
  .page 
    width 100%
    max-width 1280px
    padding-left unquote('min(7.5vw,96px)')
    padding-right unquote('min(7.5vw,96px)')
    margin 0 auto