@require './fonts'
@require './config'
@require './utils'

*
  font-variant-ligatures none

body, html
  padding 0
  margin 0
  overflow-x hidden

body
  font-family $defaultFont, -apple-system, "Helvetica Neue", sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size $fsRegular
  line-height $lhRegular
  color $textColor

#wrapper
  min-height 100vh

h1
  font-size $fsLarge
  font-weight 400
  margin-bottom 2em

  a
    display none

h2
  font-size $fsRegular
  font-weight 400
  padding-top 4em
  margin-top -1em
  margin-bottom 0
  line-height 1.2
  border-bottom 1px solid $textColor
  display inline-block

h3, h4, h5, h6
  font-size $fsSmall
  margin-bottom 0
  margin-top 2em

  a.header-anchor
    display none

  &+ul
    margin-top 0

  em
    font-weight 400

a
  text-decoration none
  color $accentColor

  &+em
    font-style normal
    opacity 0.5

  .icon.outbound
    display none

.pointer
  cursor pointer

button
  font-size $fsXSmall
  background white
  border 1px dotted $textColor
  border-radius 18px
  padding 0.6em 2.5em
  cursor pointer

  &:hover
    border-color $accentColor
    color $accentColor

  &.announcement a
    color $textColor

#wrapper.home>div.content, .content-block
  max-width 996px
  margin 0 auto
  padding 0 2em

.text-color, a.text-color
  color $textColor !important

.accent
  color $accentColor

ol
  padding-left 1.1em

  &:before
    padding-right 1em

  li
    padding-left 0.5em

ul
  padding 0
  margin 1em
  list-style-image url(../images/dash.svg)

  li
    padding-left 0.5em

  &.inline, &.nav-ul
    li
      padding 0
      display inline-block

  &.featured
    font-size $fsRegular
    line-height $lhRegular
    margin 0
    border-left 1px dotted $accentColor
    padding-left 1em
    margin-left -1em

    li
      list-style-image none
      list-style none
      margin-bottom 1em
      padding 0

      em
        display block
        font-size $fsSmall

div.intro-blocks
  margin-top 4em
  display flex
  flex-wrap wrap

  a
    display inline-block
    line-height $lhMedium
    margin 0
    margin-bottom 2em
    width 49%

    ul
      li
        color $textColor

        &:first-child
          color $accentColor
          margin-bottom 1em
          list-style-image none
          list-style none
          padding 0
          text-indent -1em

        &.highlight
          background url(../images/highlight.svg)
          background-repeat no-repeat

.header-anchor
  opacity 0.15
  margin-left -1.33em

  &:hover
    opacity 1

.featured
  font-size $fsRegular
  line-height $lhMedium
  margin 0
  border-left 1px dotted $accentColor
  padding-left 1em
  margin-left -1em

div#wrapper:not(.home)>.content, .page
  font-size $fsSmall
  line-height $lhLarge
  max-width $contentWidth
  margin-left 10em
  padding-top 9em

  p
    margin-bottom 2em

    &+ul, &+ol
      margin-top -1em

  ol+p, ul+p
    margin-top 3em

  iframe
    filter grayscale(1)
    opacity 0.8
    width 100%

    &:hover
      filter grayscale(0)
      opacity 1

.iframe-container
  position relative
  overflow hidden
  padding-top 56.25%

  iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    border 0

p+.iframe-container
  margin-top -1em

span.arrow
  margin-right 0.75em

table
  th
    text-align left
  td
    padding-right 2em

@require './dark'
@require './responsive'
