@require './arrow'
@require './config'
@require './utils'

*
  font-variant-ligatures none

body, html
  padding 0
  margin 0

body
  font-family system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size $fsRegular
  line-height $lhRegular
  color $textColor

.button
  font-family system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"


#wrapper
  min-height 100vh

h1
  font-size $fsXLarge
  font-weight 400
  margin-bottom 1.5em

  a
    display none

h2
  font-size $fsLarge
  font-weight 400
  margin-top 2em
  line-height 1.2
  border-bottom 1px solid $textColor
  display inline-block

h3
  font-size $fsRegular
  margin-top 2em

  a.header-anchor
    display none

  &+ul
    margin-top 0

  em
    font-weight 400

h4, h5, h6
  font-size $fsSmall
  margin-bottom 0
  margin-top 2em

  a.header-anchor
    display none

  &+ul
    margin-top 0

  em
    font-weight 400

a
  text-decoration none
  color $accentColor

  &+em
    font-style normal
    opacity 0.5

  .icon.outbound
    display none

  &.black
    color $textColor

.pointer
  cursor pointer

.button
  font-size $fsXSmall
  background white
  border 1px dotted $textColor
  border-radius 18px
  padding 0.6em 2.5em
  cursor pointer
  color $textColor
  box-shadow 0 1px 4px $boxShadowColor
  transition all 0.5s cubic-bezier(.25,.8,.25,1)

  &:hover
    border-color $accentColor
    color $accentColor
    box-shadow 0 4px 8px $boxShadowHoverColor


#wrapper.home
  .hide-home
    display none

#wrapper.home>div.content, .content-block
  max-width 996px
  margin 0 auto
  padding 0 2em

.text-color, a.text-color
  color $textColor !important

.accent
  color $accentColor

ol
  padding-left 1.1em

  &:before
    padding-right 1em

  li
    padding-left 0.5em

ul
  padding 0
  margin 1em
  list-style-image url(../images/dash.svg)
  li
    padding-left 0.5em

    &.highlight
          background url(../images/highlight.svg)
          background-repeat no-repeat

  &.inline, &.nav-ul
    li
      padding 0
      display inline-block

  &.featured
    font-size $fsRegular
    line-height $lhRegular
    margin 0
    border-left 1px dotted $accentColor
    padding-left 1em
    margin-left -1em

    li
      list-style-image none
      list-style none
      margin-bottom 1em
      padding 0

      em
        display block
        font-size $fsSmall

.intro-blocks
  margin-top 1.5em
  display flex
  flex-wrap wrap

  .intro-block,
  .intro-block-content-version-1
    flex 1 1 29%
    padding-left 1em
    padding-right 1em
    display inline-block
    line-height $lhMedium
    margin-bottom 1em

    h3
      span.arrow
        margin-right 1.25em

    ul
      li
        color $textColor

        &.highlight
          background-image: url(../images/highlight.svg)
          background-repeat no-repeat

  // TODO remove once translations are updated w/ new personas
  .intro-block-content-version-1
    flex 1 1 40%
    padding-left 2em
    padding-right 2em

.header-anchor
  opacity 0.15
  margin-left -1.33em

  &:hover
    opacity 1

.featured
  font-size $fsRegular
  line-height $lhMedium
  margin 0
  border-left 1px dotted $accentColor
  padding-left 1em
  margin-left -1em

div#wrapper:not(.home)>.content, .page
  font-size $fsMedium
  line-height $lhLarge
  padding-top 9em

  h2
    padding-top 4em
    margin-top -1em

  p
    margin-bottom 2em

    &+ul, &+ol
      margin-top -1em

  ol+p, ul+p
    margin-top 3em

  iframe
    filter grayscale(1)
    opacity 0.8
    width 100%

    &:hover
      filter grayscale(0)
      opacity 1

.iframe-container
  position relative
  overflow hidden
  padding-top 56.25%

  iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    border 0

p+.iframe-container
  margin-top -1em

table
  th
    text-align left
  td
    padding-right 2em

.fade-enter-active, .fade-leave-active
  transition opacity .25s

.fade-enter, .fade-leave-to
  opacity: 0

.headline-text-container
  display flex
  flex-direction column
  align-items center

.headline-title
  text-align center
  line-height 2rem

.headline-subtitle
  max-width 700px
  text-align center
  line-height 1.8rem

@media screen and (max-width $breakXS)
  .headline-subtitle
    text-align left

.right-to-left-text
  .header-anchor
    margin-left 0

  li.highlight
    background-position right !important

  .updated-date
    text-align right

// /languages page
.languages-page
    font-size $fsMedium
    line-height $lhLarge
    padding-top 9em

.languages-content-section
  max-width $contentWidth

// borders & shadows
.border-box-shadow
  border 1px dotted $textColor
  box-shadow 0 1px 4px $boxShadowColor

.border-box-shadow-hover
  border 1px dotted $textColor
  box-shadow 0 1px 4px $boxShadowColor
  transition all 0.5s cubic-bezier(.25,.8,.25,1)

  &:hover
    border 1px dotted $accentColor
    box-shadow 0 4px 8px $boxShadowHoverColor

@require './responsive'
@require './dark'
