@require './arrow'
@require './config'
@require './utils'

*
  font-variant-ligatures none

*, *:before, *:after
  box-sizing border-box

body, html
  padding 0
  margin 0

body
  font-family system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  line-height 1.4
  color $textColor

.button
  font-family system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"


#wrapper
  min-height 100vh

a
  text-decoration none
  color $colorPrimary

  &+em
    font-style normal
    opacity 0.5

  .icon.outbound
    display none

.pointer
  cursor pointer


#wrapper.home
  .hide-home
    display none

.text-color, a.text-color
  color $textColor !important

.accent
  color $colorPrimary

ol
  padding-left 1.1em

  &:before
    padding-right 1em

  li
    padding-left 0.5em

.header-anchor
  display none

h2, h3
  .header-anchor
    display: initial
    opacity 0.15
    margin-left -1.33em
    font-size 1rem
    vertical-align: middle

    &:hover
      opacity 1

div#wrapper:not(.home)>.content, .page

  ol+p, ul+p
    margin-top 3em

  iframe
    filter grayscale(1)
    opacity 0.8
    width 100%

    &:hover
      filter grayscale(0)
      opacity 1

.iframe-container
  position relative
  overflow hidden
  padding-top 40.45%
  max-width $contentWidth

  iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    border 0

p+.iframe-container
  margin-top -1em

table
  th
    text-align left
  td
    padding-right 2em

.fade-enter-active, .fade-leave-active
  transition opacity .25s

.fade-enter, .fade-leave-to
  opacity: 0

@media screen and (max-width $breakXS)
  .headline-subtitle
    text-align left

.rtl
  .header-anchor
    margin-left 0

  li.highlight
    background-position right !important

  .updated-date
    text-align right

// borders & shadows
.border-box-shadow
  border 1px dotted $textColor
  box-shadow 0 1px 4px $boxShadowColor

.border-box-shadow-hover
  border 1px dotted $textColor
  box-shadow 0 1px 4px $boxShadowColor
  transition all 0.5s cubic-bezier(.25,.8,.25,1)

  &:hover
    border 1px dotted $colorPrimary
    box-shadow 0 4px 8px $boxShadowHoverColor

// BASE TEXT STYLES
// These target mainly our markdown content, and whenever a .l# class is not used
// They should eventually be moved out of utils.styl

h1, h2, h3, h4, h5, h6, p, span, li {
  max-width: $contentWidth;
  // This prevents content from being hidden from the fixed header when an anchor tag is used
  &:target:before {
    content: "";
    display: block;
    height: 60px; /* fixed header height*/
    margin: -60px 0 0; /* negative fixed header height */
  }
}

h1:not(.l1):not(.l2):not(.l3):not(.l4):not(.l5):not(.l6):not(.l7):not(.l8)
  @extend .l1
h2:not(.l1):not(.l2):not(.l3):not(.l4):not(.l5):not(.l6):not(.l7):not(.l8)
  @extend .l2
h3:not(.l1):not(.l2):not(.l3):not(.l4):not(.l5):not(.l6):not(.l7):not(.l8)
  @extend .l3
h4:not(.l1):not(.l2):not(.l3):not(.l4):not(.l5):not(.l6):not(.l7):not(.l8)
  @extend .l4
h5:not(.l1):not(.l2):not(.l3):not(.l4):not(.l5):not(.l6):not(.l7):not(.l8)
  @extend .l5
h6:not(.l1):not(.l2):not(.l3):not(.l4):not(.l5):not(.l6):not(.l7):not(.l8)
  @extend .l6
p:not(.l1):not(.l2):not(.l3):not(.l4):not(.l5):not(.l6):not(.l7):not(.l8)
  @extend .l7
  & + p
    margin-top 2em

p
  @extend .tc-text300
  
.dark-mode p
  @extend .dark-mode .tc-text300

// This class is automatically added to the built-in <Content /> component
.content__default
  ul
    @extend .l7
    padding 0
    margin 1em
    list-style-type none
    list-style-image none

    li
      padding-left .5em
      margin-bottom .5em

      &:before
        content "\2022"
        color $colorPrimary500
        display inline-block
        width 1em
        margin-left -1em
        position absolute

      &.highlight
        background url(../images/highlight.svg)
        background-repeat no-repeat

:not(.rtl)
  .content__default
    ul
      li
        padding-left .5em
        &:before
          margin-left -1em
.rtl
  .content__default
    ul
      li
        padding-right .5em
        &:before
          margin-right -1em
  
.dark-mode
  ul
    li
      &.highlight
        background-image: url(../images/highlight-dark.svg)
        background-repeat no-repeat
      &.highlight-small
        background-size 240px !important
      &:before
        color $colorPrimaryDark500


@require './responsive'
@require './dark'
