.flex
  display flex

.flex-row-wrap
  flex-flow row wrap;

.justify-center
  justify-content center

.flex-center
  align-items center

.flex-column
  flex-direction: column

.relative
  position relative

.absolute
  position absolute

.fixed
  position fixed

.block
  display block

.center
  text-align center

body, .dark-mode
  .no-list
    list-style none
    list-style-image none
    margin 0
    padding 0
    li
      margin-left 0
      padding 0

.w100 {width: 100%}
.w90 {width: 90%}
.w80 {width: 80%}
.w70 {width: 70%}
.w60 {width: 60%}
.w50 {width: 50%}
.w40 {width: 40%}
.w30 {width: 30%}
.w20 {width: 20%}
.w10 {width: 50%}

.mw35ch {max-width: 35ch}
.mw45ch {max-width: 45ch}
.mw55ch {max-width: 55ch}

.mt0  {margin-top: 0}
.mt05 {margin-top: 0.5rem }
.mt1  {margin-top 1rem   }

.mb0  {margin-bottom: 0}
.mb05 {margin-bottom: 0.5rem }
.mb1  {margin-bottom: 1rem   }