@import 'config.styl'

///////////////////////////////////////
// LAYOUT CLASSES                    //
// ----------------------------------//
// For now, these are used to apply  //
// flex (and related properties),    //
// block, inline-block, absolute,    //
// etcetera                          //
///////////////////////////////////////

.block
  display block

.inline-block 
  display inline-block

.hidden
  display none

.flex
  display flex

.flex-wrap 
  flex-wrap wrap

.flex-row-wrap
  flex-flow row wrap;

.justify-center
  justify-content center

.flex-center
  align-items center

.flex-column
  flex-direction column

.flex-row
  flex-direction row

.space-between
  justify-content space-between

.flex-1
  flex 1

.relative
  position relative

.absolute
  position absolute

.fixed
  position fixed

@media (min-width $breakM)
  .m-up-block
    display block
  
  .m-up-flex
    display flex
  
  .m-up-flex-row
    flex-direction row

  .m-up-inline-block 
    display inline-block

  .m-up-hidden
    display none

  .m-up-relative
    position relative

  .m-up-absolute
    position absolute

@media (min-width $breakL)
  .l-up-block
    display block
  
  .l-up-flex
    display flex
  
  .l-up-flex-row
    flex-direction row

  .l-up-inline-block 
    display inline-block

  .l-up-hidden
    display none

  .l-up-relative
    position relative

  .l-up-absolute
    position absolute

///////////////////////////////////////
// CLASS GENERATOR                   //
// ----------------------------------//
// Instead of manually creating      //
// classes and referencing similar   //
// values, we instead use this func  //
// to generate our utility classes   //
// such as margins & color shades    //
///////////////////////////////////////

generateClasses(prependClass, appendClass, property, obj)
  if obj.values
    for key, value in obj.values
      .{prependClass}{key}{appendClass}
        if obj.unit
          {property}: unit(value, obj.unit)
        else
          {property}: value
  else
    for key, value in obj
      .{prependClass}{key}{appendClass}
        {property}: value



///////////////////////////////////////
// TEXT LEVELS                       //
// ----------------------------------//
// We have utility classes for our   //
// text styles, but also provide     //
// default levels when a .l# class   //
// is *not* used                     //
///////////////////////////////////////

.l1
  font-size: 3rem
  font-size: unquote('min(max(2rem, 6vw), 3rem)'); // stylus @css {} literal breaks here. Unquote instead.
  line-height: 1.4
  margin: 2rem 0
  font-weight: 400
.l2
  font-size 2rem
  font-size unquote('min(max(1.75rem, 4vw), 2rem)') // stylus @css {} literal breaks here. Unquote instead.
  line-height 1.4
  margin 4.5rem 0 1.5rem
  font-weight 400
.l3
  font-size 1.5rem
  line-height 1.4
  margin 1.5rem 0
  font-weight 400
.l4
  font-size 1.25rem
  line-height 1.4
  font-weight 400
.l5
  font-size 1rem
  line-height 1.6
  font-weight 400
.l6
  font-size .875rem
  line-height 1.6
  font-weight 400
  letter-spacing 0.04em
  margin 1.14em 0
  text-transform uppercase
.l7
  font-size 1rem
  line-height 1.6
  font-weight 400
  margin 2rem 0 1rem
.l8
  font-size .875rem
  line-height:1.6
  margin 1.14em 0
  font-weight 400

.l-up-l7
  text-transform none
  letter-spacing 0
  @extend .l7




///////////////////////////////////////
// COLORS                            //
// ----------------------------------//
// Colors are structured as so in    //
// order to work with the class      //
// generator.                        //
///////////////////////////////////////

// Set text colors
// these should be revisited
// alongside colors in config.vue

$colorBlackObj = {
  '400': mix($colorWhite, $colorBlack, 10%),
  '300': mix($colorWhite, $colorBlack, 20%),
  '200': mix($colorWhite, $colorBlack, 30%),
  '100': mix($colorWhite, $colorBlack, 40%),
  '50' : mix($colorWhite, $colorBlack, 50%),
}

$colorPrimaryObj = {
  '900': mix($colorBlack, $colorPrimary, 80%),
  '800': mix($colorBlack, $colorPrimary, 60%),
  '700': mix($colorBlack, $colorPrimary, 40%),
  '600': mix($colorBlack, $colorPrimary, 20%),
  '500': $colorPrimary,
  '400': mix($colorWhite, $colorPrimary, 20%),
  '300': mix($colorWhite, $colorPrimary, 40%),
  '200': mix($colorWhite, $colorPrimary, 60%),
  '100': mix($colorWhite, $colorPrimary, 80%),
}

$colorPrimaryDarkObj = {
  '900': mix($colorBlack, $colorPrimaryDark, 80%)
  '800': mix($colorBlack, $colorPrimaryDark, 60%)
  '700': mix($colorBlack, $colorPrimaryDark, 40%)
  '600': mix($colorBlack, $colorPrimaryDark, 20%)
  '500': $colorPrimaryDark
  '400': mix($colorWhite, $colorPrimaryDark, 20%)
  '300': mix($colorWhite, $colorPrimaryDark, 40%)
  '200': mix($colorWhite, $colorPrimaryDark, 60%)
  '100': mix($colorWhite, $colorPrimaryDark, 80%)
}

$textColorObj = {
  '100': $colorBlack50,
  '200': $colorBlack100,
  '300': $colorBlack200,
  '400': $colorBlack400,
  '500': $colorBlack500,
  '600': $colorBlack500
}

$textColorDarkObj = {
  '100': alpha($colorWhite900, 0.8),
  '200': $colorWhite900,
  '300': $colorWhite800,
  '400': $colorWhite700,
  '500': $colorWhite600,
  '600': $colorWhite500
}



// We then generate the classes for the default (.tc-{name}{shade})
// and for :hover (.tc-h-{name}{shade})
generateClasses('tc-text', null, 'color', $textColorObj)
generateClasses('tc-h-text', ':hover', 'color', $textColorObj)
generateClasses('tc-primary', null, 'color', $colorPrimaryObj)
generateClasses('tc-h-primary', ':hover', 'color', $colorPrimaryObj)

// Which map directly to defaults for dark mode
.dark-mode
  generateClasses('tc-text', null, 'color', $textColorDarkObj)
  generateClasses('tc-h-text', ':hover', 'color', $textColorDarkObj)
  generateClasses('tc-primary', null, 'color', $colorPrimaryDarkObj)
  generateClasses('tc-h-primary', ':hover', 'color', $colorPrimaryDarkObj)

// Backgrounds & Fills
// Add to this list as & when used
generateClasses('fill-text', null, 'fill', $textColorObj)
generateClasses('fill-h-text', ':hover', 'fill', $textColorObj)
.dark-mode
  generateClasses('fill-text', null, 'fill', $textColorDarkObj)
  generateClasses('fill-h-text', ':hover', 'fill', $textColorDarkObj)


///////////////////////////////////////
// BORDERS                           //
// ----------------------------------//
// These come after the text classes //
// to allow us to override certain   //
// things, particularly margins.     //
// We use the class generator again  //
///////////////////////////////////////

// Widths
.br-25rem
  border-right .25rem solid transparent

// Colors
.bc-transparent
  border-color transparent
.bc-primary500
  border-color $colorPrimary500
.dark-mode
  .bc-primary500
    border-color $colorPrimaryDark500



///////////////////////////////////////
// UTILITY / MODIFIER CLASSES        //
// ----------------------------------//
// These come after the text classes //
// to allow us to override certain   //
// things, particularly margins.     //
// We use the class generator again  //
///////////////////////////////////////

// Text modifiers

.center
  text-align center

b, &.b, strong {
  font-weight 600
}

.no-bullets
  list-style-type: none
  list-style-image: none
  margin-left 0
  li
    padding-left 0
    &:before
      display: none

.featured
  border-left 1px dotted $colorPrimary

.markdown-heading:before
  content ''
  display block
  height 120px
  margin-top -120px
  visibility hidden

&:not(.rtl)
  .featured
    padding-left 1rem
    margin-left -1rem
.rtl
  .featured
    padding-right 1rem
    margin-right -1rem
.dark-mode
  .featured
    border-left 1px dotted $colorPrimaryDark


$widths = {
  unit: '%',
  values: {
    '10': 10,
    '20': 20,
    '30': 30
    '40': 40,
    '50': 50,
    '60': 60,
    '70': 70,
    '80': 80,
    '90': 90,
    '100': 100,
  }
}

$maxWidths = {
  '100': 100%,
  '35ch': 35ch,
  '45ch': 45ch,
  '55ch': 55ch,
  '350px': 350px,
  '450px': 450px,
  's': $breakS,
  'm': $breakM,
  'l': $breakL,
  'xl': $breakXL
}

$spacings = {
  unit: 'rem',
  values: {
    '0':   0,
    '00':  0,
    '000': 0,
    '025': 0.25, //  4px
    '05':  0.5,  //  8
    '075': 0.75, // 12
    '1':   1,    // 16
    '125': 1.25, // 20
    '15':  1.5,  // 24
    '2':   2,    // 32
    '25':  2.5,  // 40
    '3' :  3     // 48
    '4' :  4     // 64
    '5' :  5     // 80
    '8' :  8     // 80
  }
}

// Widths
generateClasses('w-', null, 'width', $widths)
// generate percentages
generateClasses('min-w-', null, 'min-width', $widths)
generateClasses('max-w-', null, 'max-width', $widths)
// generate custom
generateClasses('max-w-', null, 'max-width', $maxWidths)

// Margins
.mt-auto { margin-top: auto; }
.mb-auto { margin-bottom: auto; }
.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }
generateClasses('ma-', null, 'margin', $spacings)
generateClasses('mb-', null, 'margin-bottom', $spacings)
generateClasses('mt-', null, 'margin-top', $spacings)
div:not(.rtl)
  generateClasses('ml-', null, 'margin-left', $spacings)
  generateClasses('mr-', null, 'margin-right', $spacings)
.rtl
  generateClasses('ml-', null, 'margin-right', $spacings)
  generateClasses('mr-', null, 'margin-left', $spacings)

// Padding
generateClasses('pa-', null, 'padding', $spacings)
generateClasses('pb-', null, 'padding-bottom', $spacings)
generateClasses('pt-', null, 'padding-top', $spacings)
div:not(.rtl)
  generateClasses('pl-', null, 'padding-left', $spacings)
  generateClasses('pr-', null, 'padding-right', $spacings)
.rtl
  generateClasses('pl-', null, 'padding-right', $spacings)
  generateClasses('pr-', null, 'padding-left', $spacings)

@media (min-width: $breakM)
  // Margins
  .m-up-mt-auto { margin-top: auto; }
  .m-up-mb-auto { margin-bottom: auto; }
  .m-up-ml-auto { margin-left: auto; }
  .m-up-mr-auto { margin-right: auto; }
  generateClasses('m-up-ma-', null, 'margin', $spacings)
  generateClasses('m-up-mb-', null, 'margin-bottom', $spacings)
  generateClasses('m-up-mt-', null, 'margin-top', $spacings)
  div:not(.rtl)
    generateClasses('m-up-ml-', null, 'margin-left', $spacings)
    generateClasses('m-up-mr-', null, 'margin-right', $spacings)
  .rtl
    generateClasses('m-up-ml-', null, 'margin-right', $spacings)
    generateClasses('m-up-mr-', null, 'margin-left', $spacings)

  // Padding
  generateClasses('m-up-pa-', null, 'padding', $spacings)
  generateClasses('m-up-pb-', null, 'padding-bottom', $spacings)
  generateClasses('m-up-pt-', null, 'padding-top', $spacings)
  div:not(.rtl)
    generateClasses('m-up-pl-', null, 'padding-left', $spacings)
    generateClasses('m-up-pr-', null, 'padding-right', $spacings)
  .rtl
    generateClasses('m-up-pl-', null, 'padding-right', $spacings)
    generateClasses('m-up-pr-', null, 'padding-left', $spacings)

@media (min-width: $breakL)
  // Margins
  .l-up-mt-auto { margin-top: auto; }
  .l-up-mb-auto { margin-bottom: auto; }
  .l-up-ml-auto { margin-left: auto; }
  .l-up-mr-auto { margin-right: auto; }
  generateClasses('l-up-ma-', null, 'margin', $spacings)
  generateClasses('l-up-mb-', null, 'margin-bottom', $spacings)
  generateClasses('l-up-mt-', null, 'margin-top', $spacings)
  div:not(.rtl)
    generateClasses('l-up-ml-', null, 'margin-left', $spacings)
    generateClasses('l-up-mr-', null, 'margin-right', $spacings)
  .rtl
    generateClasses('l-up-ml-', null, 'margin-right', $spacings)
    generateClasses('l-up-mr-', null, 'margin-left', $spacings)

  // Padding
  generateClasses('l-up-pa-', null, 'padding', $spacings)
  generateClasses('l-up-pb-', null, 'padding-bottom', $spacings)
  generateClasses('l-up-pt-', null, 'padding-top', $spacings)
  div:not(.rtl)
    generateClasses('l-up-pl-', null, 'padding-left', $spacings)
    generateClasses('l-up-pr-', null, 'padding-right', $spacings)
  .rtl
    generateClasses('l-up-pl-', null, 'padding-right', $spacings)
    generateClasses('l-up-pr-', null, 'padding-left', $spacings)
