.flex
  display flex

.flex-center
  align-items center

.flex-column
  flex-direction: column

.relative
  position relative

.absolute
  position absolute

.fixed
  position fixed

.block
  display block

.center
  text-align center
