// Expose a custom .babelrc in order to let netlify-lambda read it and build the
// TS lambda functions. This way, netlify-lambda & gatsby use the same config.
// ref. https://www.gatsbyjs.com/docs/how-to/custom-configuration/babel/
{
  "presets": [
    "@babel/preset-typescript",
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}
