{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "src/data-layer/index.ts",
      "options": {
        "printWidth": 120
      }
    }
  ]
}