@tailwind base;

/* FOUNDATIONAL COLOR PALETTE DECLARATIONS */

@layer base {
  :root {
    --white: #ffffff;
    --gray-100: #f7f7f7;
    --gray-200: #e7e7e7;
    --gray-300: #c8c8c8;
    --gray-400: #8c8c8c;
    --gray-500: #616161;
    --gray-600: #333333;
    --gray-700: #222222;
    --gray-800: #1b1b1b;
    --gray-900: #141414;
    --black: #000000;

    --purple-100: #e2d3fb;
    --purple-200: #d1baf7;
    --purple-300: #c0a1f3;
    --purple-400: #af88ef;
    --purple-500: #8558e9;
    --purple-600: #6c24df;
    --purple-700: #561bb5;
    --purple-800: #41128b;
    --purple-900: #2b0961;
    --purple-50-rgb: 241, 234, 250; /* #f1eaf9 */
    --purple-100-rgb: 226, 211, 251; /* #e2d3fb */
    --purple-800-rgb: 65, 18, 139; /* #41128b */
    --purple-900-rgb: 43, 9, 97; /* #2b0961 */

    --pink-100: #fde7f3;
    --pink-200: #fbcfeb;
    --pink-300: #ee8cc3;
    --pink-400: #ee58ab;
    --pink-500: #f53fa1;
    --pink-600: #e51d7f;
    --pink-700: #c70f63;
    --pink-800: #891247;
    --pink-900: #38212e;
    --pink-100-rgb: 253, 231, 243; /* #fde7f3 */
    --pink-200-rgb: 251, 207, 235; /* #fbcfeb */
    --pink-800-rgb: 137, 18, 71; /* #891247 */
    --pink-900-rgb: 56, 33, 46; /* #38212e */

    --blue-100: #e8f1ff;
    --blue-200: #cadffb;
    --blue-300: #88aaf1;
    --blue-400: #6995f7;
    --blue-500: #4473ef;
    --blue-600: #3c4ceb;
    --blue-700: #2b36a8;
    --blue-800: #232f71;
    --blue-900: #1b273a;
    --blue-100-rgb: 232, 241, 255; /* #e8f1ff */
    --blue-200-rgb: 202, 223, 251; /* #cadffb */
    --blue-800-rgb: 35, 47, 113; /* #232f71 */
    --blue-900-rgb: 27, 39, 58; /* #1b273a */

    --cyan-100: #e3f7f5;
    --cyan-200: #b8faf6;
    --cyan-300: #80ebe1;
    --cyan-400: #50cec1;
    --cyan-500: #1aa99e;
    --cyan-600: #29948f;
    --cyan-700: #1e6766;
    --cyan-800: #1c4545;
    --cyan-900: #1f312f;
    --cyan-100-rgb: 227, 247, 245; /* #e3f7f5 */
    --cyan-200-rgb: 184, 250, 246; /* #b8faf6 */
    --cyan-800-rgb: 28, 69, 69; /* #1c4545 */
    --cyan-900-rgb: 31, 49, 47; /* #1f312f */

    --orange-100: #fff0db;
    --orange-200: #ffd7a7;
    --orange-300: #feb077;
    --orange-400: #fd8640;
    --orange-500: #fb610e;
    --orange-600: #ec4a0a;
    --orange-700: #c4350a;
    --orange-800: #7d2711;
    --orange-900: #3a291d;

    --red-100: #f7c8c8;
    --red-500: #b80000;
    /* ! Deprecating 900, error.neutral */
    --red-900: #180c0c;

    --green-100: #ddf4e4;
    --green-500: #0a7146;
    /* ! Deprecating 900, success.neutral */
    --green-900: #0a160e;

    --yellow-200: #fff8df;
    --yellow-500: #bd8400;
  }
}
