@tailwind base;

/* FOUNDATIONAL COLOR PALETTE DECLARATIONS */

@layer base {
  :root {
    --white: 0, 0%, 100%; /* #ffffff */
    --gray-50: 0, 0%, 97%; /* #f7f7f7 */
    --gray-100: 0, 0%, 95%; /* #f2f2f2 */
    --gray-150: 0, 0%, 93%; /* #ececec */ /* TODO: Confirm this shade, used in nav menu */
    --gray-200: 0, 0%, 91%; /* #e0e0e0 */
    --gray-300: 0, 0%, 78%; /* #bcbcbc */
    --gray-400: 0, 0%, 55%; /* #7a7a7a */
    --gray-500: 0, 0%, 38%; /* #616161 */
    --gray-600: 0, 0%, 20%; /* #333333 */
    --gray-700: 0, 0%, 13%; /* #222222 */
    --gray-800: 0, 0%, 11%; /* #1c1c1c */
    --gray-900: 0, 0%, 8%; /* #141414 */
    --black: 0, 0%, 0%; /* #000000 */

    --purple-50: 262, 100%, 96%; /* #F3ECFF */
    --purple-100: 263, 100%, 94%; /* #EDE2FF */
    --purple-200: 263, 91%, 88%; /* #DAC5FC */
    --purple-300: 263, 94%, 84%; /* #CCAFFC */
    --purple-400: 263, 77%, 75%; /* #B38DF0 */
    --purple-500: 263, 88%, 65%; /* #945AF4 */
    --purple-600: 263, 75%, 51%; /* #6C24DF */
    --purple-700: 263, 74%, 41%; /* #561BB5 */
    --purple-800: 263, 77%, 31%; /* #41128B */
    --purple-900: 263, 86%, 15%; /* #1E0546 */

    --pink-50: 325, 63%, 93%; /* #F8E0EE */
    --pink-100: 322, 78%, 87%; /* #F8C5E5 */
    --pink-200: 323, 100%, 85%; /* #FFB2E2 */
    --pink-300: 323, 77%, 78%; /* #F29AD0 */
    --pink-400: 323, 77%, 69%; /* #ED75BF */
    --pink-500: 323, 73%, 59%; /* #E34AA8 */
    --pink-600: 323, 62%, 47%; /* #C32E8A */
    --pink-700: 323, 66%, 39%; /* #A42172 */
    --pink-800: 323, 74%, 25%; /* #70114B */
    --pink-900: 323, 66%, 16%; /* #440E2F */

    --blue-50: 214, 100%, 99%; /* #F8FBFF */
    --blue-100: 217, 100%, 95%; /* #E8F1FF */
    --blue-200: 214, 86%, 89%; /* #CADFFB */
    --blue-300: 221, 79%, 74%; /* #88AAF1 */
    --blue-400: 221, 90%, 69%; /* #6995F7 */
    --blue-500: 224, 84%, 60%; /* #4473EF */
    --blue-600: 235, 81%, 58%; /* #3C4CEB */
    --blue-700: 235, 59%, 41%; /* #2B36A8 */
    --blue-800: 231, 53%, 29%; /* #232F71 */
    --blue-900: 217, 36%, 17%; /* #1B273A */

    --teal-50: 173, 100%, 96%; /* #EDFFFD */
    --teal-100: 174, 100%, 93%; /* #D9FFFB */
    --teal-200: 176, 87%, 85%; /* #B8FAF6 */
    --teal-300: 174, 73%, 71%; /* #80EBE1 */
    --teal-400: 174, 56%, 56%; /* #50CEC1 */
    --teal-500: 175, 73%, 38%; /* #1AA99E */
    --teal-600: 177, 57%, 37%; /* #29948F */
    --teal-700: 179, 55%, 26%; /* #1E6766 */
    --teal-800: 180, 42%, 19%; /* #1C4545 */
    --teal-900: 173, 23%, 16%; /* #1F312F */

    --orange-100: 30, 100%, 94%; /* #FFF0DB */
    --orange-200: 30, 100%, 82%; /* #FFD7A7 */
    --orange-300: 30, 98%, 70%; /* #FEB077 */
    --orange-400: 30, 97%, 58%; /* #FD8640 */
    --orange-500: 30, 95%, 51%; /* #FB610E */
    --orange-600: 20, 95%, 47%; /* #EC4A0A */
    --orange-700: 15, 90%, 39%; /* #C4350A */
    --orange-800: 10, 76%, 28%; /* #7D2711 */
    --orange-900: 20, 33%, 15%; /* #3A291D */

    /* TODO: Update to new color theming */
    --red-100: 0, 75%, 88%; /* #f7c8c8 */
    --red-500: 0, 100%, 36%; /* #b80000 */
    --red-800: 0, 33%, 7%; /* #180c0c */
    --green-100: 138, 51%, 91%; /* #ddf4e4 */
    --green-500: 155, 84%, 24%; /* #0a7146 */
    --green-900: 140, 37%, 6%; /* #0a160e */
    --yellow-200: 47, 100%, 94%; /* #fff8df */
    --yellow-500: 42, 100%, 37%; /* #bd8400 */

  }
}
