@tailwind base;

/* SEMANTIC TOKEN DECLARATIONS: Abstracted from color palettes for theming */

@layer base {
  /* Light mode (default) token declarations */
  :root {
    --body: var(--gray-900);
    --body-medium: var(--gray-500);
    --body-light: var(--gray-200);
    --body-inverse: var(--white);
    --disabled: var(--gray-400);
    --background: var(--white);
    --background-highlight: var(--gray-50);

    --primary: var(--purple-600);
    --primary-high-contrast: var(--purple-800);
    --primary-low-contrast: var(--purple-100);
    --primary-hover: var(--purple-500);
    --primary-visited: var(--purple-700);
    --primary-action: var(--purple-600);
    --primary-action-hover: var(--purple-700);

    --accent-a: var(--blue-600);
    --accent-a-hover: var(--blue-500);

    --accent-b: var(--pink-600);
    --accent-b-hover: var(--pink-500);

    --accent-c: var(--teal-700);
    --accent-c-hover: var(--teal-600);

    /**
    /* Gradients (radial, conic)
    /* For linear-gradient, Tailwind classes preferred
    /* https://tailwindcss.com/docs/background-image#linear-gradients
    */
    --radial-a-opacity-1: 0.08;
    --radial-a-opacity-2: 0.24;
    --radial-a: radial-gradient(
      127.67% 82.36% at 50% -30.36%,
      hsla(var(--purple-500), var(--radial-a-opacity-1)) 0%,
      hsla(var(--purple-500), var(--radial-a-opacity-2)) 33%,
      hsla(var(--blue-500), var(--radial-a-opacity-1)) 66%,
      transparent 100%
    );

    /* Shadows */
    --shadow-color-a: hsla(var(--purple-800), 0.02);
    --shadow-color-b: hsla(var(--red-800), 0.04);
    --shadow-color-c: hsla(var(--purple-700), 0.04);
    --shadow-color-d: hsla(var(--purple-100), 0.08);

    --shadow-svg-button-link-1: -2px 2px 12px 1px var(--shadow-color-a);
    --shadow-svg-button-link-2: -16px 16px 12px -3px var(--shadow-color-a);
    --shadow-svg-button-link-3: -32px 32px 24px -6px var(--shadow-color-a);
    --shadow-svg-button-link-4: -40px 40px 40px -12px var(--shadow-color-b);
    --shadow-svg-button-link-1-hover: 0px 0px 12px 2px var(--shadow-color-a);
    --shadow-svg-button-link-2-hover: 0px 0px 12px 2px var(--shadow-color-a);
    --shadow-svg-button-link-3-hover: 0px 0px 24px 2px var(--shadow-color-a);
    --shadow-svg-button-link-4-hover: 0px 0px 40px 2px var(--shadow-color-b);

    --shadow-body-color-a: hsla(var(--gray-900), 0.25);
    --shadow-body-color-b: hsla(var(--gray-900), 0.05);
    --shadow-body-md: 0px 4px 4px 0px var(--shadow-body-color-a);
    --shadow-body-lg: 0px -6px 10px 0px var(--shadow-body-color-b);

    --shadow-window-box-1-opacity: 0.02;
    --shadow-window-box-2-opacity: 0.02;
    --shadow-window-box-3-opacity: 0.02;
    --shadow-window-box-4-opacity: 0.04;
    --shadow-window-box-5-opacity: 0.08;
    --shadow-window-box-1: 0px 2px 12px 1px
      hsla(var(--purple-800), var(--shadow-window-box-1-opacity));
    --shadow-window-box-2: 0px 16px 12px -3px hsla(var(--purple-800), var(--shadow-window-box-2-opacity));
    --shadow-window-box-3: 0px 32px 24px -6px hsla(var(--purple-800), var(--shadow-window-box-3-opacity));
    --shadow-window-box-4: 0px 40px 40px -12px hsla(var(--purple-700), var(--shadow-window-box-4-opacity));
    --shadow-window-box-5: 0px -64px 120px 80px hsla(var(--purple-100), var(--shadow-window-box-5-opacity));
  }

  /* Dark mode token declarations */
  .dark {
    --body: var(--gray-50);
    --body-medium: var(--gray-400);
    --body-light: var(--gray-600);
    --body-inverse: var(--black);
    --disabled: var(--gray-500);

    --background: var(--black);
    --background-highlight: var(--gray-900);

    --primary: var(--purple-400);
    --primary-high-contrast: var(--purple-200);
    --primary-low-contrast: var(--purple-900);
    --primary-hover: var(--purple-300);
    --primary-visited: var(--purple-500);
    --primary-action-hover: var(--purple-600);
    /* TODO: hover same as action in dark mode: */

    --accent-a: var(--blue-400);
    --accent-a-hover: var(--blue-300);

    --accent-b: var(--pink-400);
    --accent-b-hover: var(--pink-300);

    --accent-c: var(--teal-400);
    --accent-c-hover: var(--teal-300);

    /* Gradients (dark mode adjustments) */
    --radial-a-opacity-1: 0.16;
    --radial-a-opacity-2: 0.48;

    /* Shadows (dark mode adjustments) */
    --shadow-color: hsla(var(--white), 0.04);
    --shadow-svg-button-link-1: -2px 2px 12px 1px var(--shadow-color);
    --shadow-svg-button-link-2: -6px 6px 12px -3px var(--shadow-color);
    --shadow-svg-button-link-3: -12px 12px 24px -6px var(--shadow-color);
    --shadow-svg-button-link-4: -20px 20px 40px -12px var(--shadow-color);
    --shadow-svg-button-link-1-hover: 0px 0px 12px 2px var(--shadow-color);
    --shadow-svg-button-link-2-hover: 0px 0px 12px 2px var(--shadow-color);
    --shadow-svg-button-link-3-hover: 0px 0px 24px 2px var(--shadow-color);
    --shadow-svg-button-link-4-hover: 0px 0px 40px 2px var(--shadow-color);
    --shadow-body-color-a: hsla(var(--gray-600), 0.25);
    --shadow-body-color-b: hsla(var(--gray-600), 0.05);

    --shadow-window-box-1-opacity: 0.1;
    --shadow-window-box-2-opacity: 0.08;
    --shadow-window-box-3-opacity: 0.16;
    --shadow-window-box-4-opacity: 0.06;
    --shadow-window-box-5-opacity: 0.06;
  }
}
