@tailwind base;

/* SEMANTIC TOKEN DECLARATIONS: Abstracted from color palettes for theming */

@layer base {
  /* Light mode (default) token declarations */
  :root {
    --body: var(--gray-800);
    --body-medium: var(--gray-500);
    --body-light: var(--gray-200);
    --body-action: var(--white);

    --background: var(--white);
    --background-highlight: var(--gray-100);

    --primary: var(--purple-600);
    --primary-hover: var(--purple-700);
    --primary-low-contrast: var(--purple-100);
    --primary-high-contrast: var(--purple-800);
    --primary-action: var(--purple-600);

    --accent-a: var(--blue-600);
    --accent-b: var(--pink-600);
    --accent-c: var(--teal-600);

    /* Gradients */
    --gradient-primary-angle: 90deg;
    --gradient-primary-opacity-from: 0.1;
    --gradient-primary-opacity-to: 0.05;
    --gradient-primary: linear-gradient(
      var(--gradient-primary-angle),
      hsla(va
      (--purple-500), var(--gradient-primary-opacity-from)) 19.09%,
      hsla(var(--purple-500), var(--gradient-primary-opacity-to)) 40.63%
    );
    --gradient-accent-a: linear-gradient(
      var(--gradient-primary-angle),
      hsla(var(--blue-500), var(--gradient-primary-opacity-from)) 19.09%,
      hsla(var(--blue-500), var(--gradient-primary-opacity-to)) 40.63%
    );
    --gradient-accent-b: linear-gradient(
      var(--gradient-primary-angle),
      hsla(var(--pink-500), var(--gradient-primary-opacity-from)) 19.09%,
      hsla(var(--pink-500), var(--gradient-primary-opacity-to)) 40.63%
    );
    --gradient-accent-c: linear-gradient(
      var(--gradient-primary-angle),
      hsla(var(--teal-500), var(--gradient-primary-opacity-from)) 19.09%,
      hsla(var(--teal-500), var(--gradient-primary-opacity-to)) 40.63%
    );
  }

  /* Dark mode token declarations */
  .dark {
    --body: var(--gray-100);
    --body-medium: var(--gray-400);
    --body-light: var(--gray-600);

    --background: var(--black);
    --background-highlight: var(--gray-900);

    --primary: var(--purple-400);
    --primary-hover: var(--purple-300);
    --primary-low-contrast: var(--purple-900);
    --primary-high-contrast: var(--purple-200);

    --accent-a: var(--blue-400);
    --accent-b: var(--pink-400);
    --accent-c: var(--teal-400);

    /* Gradients */
    --gradient-primary-angle: 180deg;
    --gradient-primary-opacity-to: 0.2;
  }
}
