@tailwind base;

/* SEMANTIC TOKEN DECLARATIONS: Abstracted from color palettes for theming */

@layer base {
  /* Light mode (default) token declarations */
  :root {
    --body: var(--gray-900);
    --body-medium: var(--gray-500);
    --body-light: var(--gray-200);
    --body-inverse: var(--white);
    --disabled: var(--gray-400);
    --background: var(--white);
    --background-highlight: var(--gray-50);

    --primary: var(--purple-600);
    --primary-high-contrast: var(--purple-800);
    --primary-low-contrast: var(--purple-100);
    --primary-hover: var(--purple-500);
    --primary-visited: var(--purple-700);
    --primary-action: var(--purple-600);
    --primary-action-hover: var(--purple-700);

    --accent-a: var(--blue-600);
    --accent-b: var(--pink-600);
    --accent-c: var(--teal-600);

    /* Gradients */
    --gradient-primary-angle: 90deg;
    --gradient-primary-opacity-from: 0.1;
    --gradient-primary-opacity-to: 0.05;
    --gradient-primary: linear-gradient(
      var(--gradient-primary-angle),
      hsla(var(--purple-500), var(--gradient-primary-opacity-from)) 19.09%,
      hsla(var(--purple-500), var(--gradient-primary-opacity-to)) 40.63%
    );
    --gradient-accent-a: linear-gradient(
      var(--gradient-primary-angle),
      hsla(var(--blue-500), var(--gradient-primary-opacity-from)) 19.09%,
      hsla(var(--blue-500), var(--gradient-primary-opacity-to)) 40.63%
    );
    --gradient-accent-b: linear-gradient(
      var(--gradient-primary-angle),
      hsla(var(--pink-500), var(--gradient-primary-opacity-from)) 19.09%,
      hsla(var(--pink-500), var(--gradient-primary-opacity-to)) 40.63%
    );
    --gradient-accent-c: linear-gradient(
      var(--gradient-primary-angle),
      hsla(var(--teal-500), var(--gradient-primary-opacity-from)) 19.09%,
      hsla(var(--teal-500), var(--gradient-primary-opacity-to)) 40.63%
    );

    /* Shadows */
    --shadow-color-a: hsla(266, 20%, 21%, 0.02);
    --shadow-color-b: hsla(0, 48%, 6%, 0.04);
    --shadow-1: -2px 2px 12px 1px var(--shadow-color-a);
    --shadow-2: -16px 16px 12px -3px var(--shadow-color-a);
    --shadow-3: -32px 32px 24px -6px var(--shadow-color-a);
    --shadow-4: -40px 40px 40px -12px var(--shadow-color-b);
    --shadow-1-hover: 0px 0px 12px 2px var(--shadow-color-a);
    --shadow-2-hover: 0px 0px 12px 2px var(--shadow-color-a);
    --shadow-3-hover: 0px 0px 24px 2px var(--shadow-color-a);
    --shadow-4-hover: 0px 0px 40px 2px var(--shadow-color-b);
  }

  /* Dark mode token declarations */
  .dark {
    --body: var(--gray-50);
    --body-medium: var(--gray-400);
    --body-light: var(--gray-600);
    --body-inverse: var(--black);
    --disabled: var(--gray-500);

    --background: var(--black);
    --background-highlight: var(--gray-900);

    --primary: var(--purple-400);
    --primary-high-contrast: var(--purple-200);
    --primary-low-contrast: var(--purple-900);
    --primary-visited: var(--purple-300);
    --primary-action-hover: var(--purple-600);

    --accent-a: var(--blue-400);
    --accent-b: var(--pink-400);
    --accent-c: var(--teal-400);

    /* Gradients */
    --gradient-primary-angle: 180deg;
    --gradient-primary-opacity-to: 0.2;

    /* Shadows */
    --shadow-color: hsla(var(--white), 0.04);
    --shadow-1: -2px 2px 12px 1px var(--shadow-color);
    --shadow-2: -6px 6px 12px -3px var(--shadow-color);
    --shadow-3: -12px 12px 24px -6px var(--shadow-color);
    --shadow-4: -20px 20px 40px -12px var(--shadow-color);
    --shadow-1-hover: 0px 0px 12px 2px var(--shadow-color);
    --shadow-2-hover: 0px 0px 12px 2px var(--shadow-color);
    --shadow-3-hover: 0px 0px 24px 2px var(--shadow-color);
    --shadow-4-hover: 0px 0px 40px 2px var(--shadow-color);
  }
}
