name: Generate Crowdin translation review report

on:
  workflow_dispatch:

jobs:
  generate_report:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Install ts-node
        run: pnpm add -g ts-node

      - name: Run script
        run: npx ts-node -O '{"module":"commonjs"}' ./src/scripts/crowdin/reports/generateReviewReport.ts
        env:
          CROWDIN_API_KEY: ${{ secrets.CROWDIN_API_KEY }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}

      - name: Upload output as artifact
        uses: actions/upload-artifact@v5
        with:
          name: output
          path: ./src/data/crowdin/bucketsAwaitingReviewReport.csv
