name: Playwright Tests
on:
  workflow_dispatch: # Can be dispatched manually
jobs:
  playwright:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install

      - name: Get Netlify Deploy URL for branch
        id: netlify_deploy
        run: |
          npx ts-node -O '{ "module": "commonjs" }' src/scripts/get-netlify-branch-deploy.ts
        env:
          NETLIFY_SITE_ID: "e8f2e766-888b-4954-8500-1b647d84db99"
          NETLIFY_TOKEN: ${{ secrets.NETLIFY_TOKEN }}
          GITHUB_REF_NAME: ${{ github.ref_name }}

      - name: Install Playwright with all browsers
        run: npx playwright install --with-deps

      - name: Run All Tests (Unit + E2E)
        run: pnpm test
        env:
          PLAYWRIGHT_TEST_BASE_URL: ${{ steps.netlify_deploy.outputs.url }}

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: ./tests/__results__
          retention-days: 7

  chromatic:
    name: chromatic
    needs: playwright
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 22.12.0
      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install

      - name: Download Playwright test results
        uses: actions/download-artifact@v6
        with:
          name: playwright-report
          path: ./tests/__results__

      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_E2E_TOKEN }}
          playwright: true
          exitZeroOnChanges: true
          storybookBaseDir: .
        env:
          CHROMATIC_ARCHIVE_LOCATION: ./tests/__results__
